@font-face {
  font-family: 'Sunday Best';
  src: url('Sunday Best.eot');
  src: url('Sunday Best.eot?#iefix') format('embedded-opentype'),
       url('Sunday Best.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SundayBest';
  src: url('SundayBest.svg#SundayBest') format('svg'),
       url('SundayBest.ttf') format('truetype'),
       url('SundayBest.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

